// Place all the styles related to the logs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.alert {
  padding: 0px 5px;
  margin-bottom: 0;
  border: 1px solid #3E3F3A;
  border-radius: 0px;
}